
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #111;
}

.header {
  background: #f7f6fb;
  border-bottom: 1px solid #eaeaea;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 17px;
    color: #7b5cff;
    font-weight: 700;

}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 10px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    font-size: 16px;
    color:#111 ;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;

}

.nav-links a:hover{
    color: #7b5cff;
}

